@model List<Product>

<h1>Ürün Listesi</h1>

@if (Model != null && Model.Count > 0)
{
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="@product.ImageURL" class="card-img-top" style="height: 250px; width: 250px; object-fit: cover;" />
                    <div class="card-body">
                        <h4 class="card-title">@product.Name</h4>
                        <p class="card-text">@product.Description</p>
                        <p class="card-text">Fiyat: @product.Price ₺</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="/Product/Details/@product.Id" class="btn btn-primary">Ürün Detayları</a>
                            <form id="addToCartForm-@product.Id" asp-controller="Cart" asp-action="AddToCart" method="post">
                                <input type="hidden" name="productId" value="@product.Id" />
                                <input type="hidden" name="productName" value="@product.Name" />
                                <input type="hidden" name="price" value="@product.Price" />
                                <input type="hidden" name="quantity" value="1" />
                                <button type="submit" class="btn btn-success ml-2">Sepete Ekle</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Ürün Bulunamadı</p>
}