@model List<Product>

<h1>Cart</h1>

@if (Model != null && Model.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Quantity</td>
                    <td>@product.Price</td>
                    <td>@(product.Price * product.Quantity)</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <h4>Total Price: @Model.Sum(p => p.Price * p.Quantity)</h4>
    </div>
}
else
{
    <p>No items in the cart.</p>
}
